<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Management</title>
	<script data-main="js/main.js" src="js/plugins/require.js"></script>
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
	<link href="css/upload.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">ZHHF管理后台</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li class="active"><a ui-sref="message">新闻、案例发布</a></li>
				<li><a ui-sref="recruit">招聘信息发布</a></li>
			</ul>
		</div>
	</div>
</nav>
<div ui-view="container"></div>
</body>
</html>